main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3{
  margin: 0.1rem 0;
}

.rating span{
  margin: 0.1rem;
}

#lblCartCount {
  font-size: 12px;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.badge {
  padding-left: 8px;
  padding-right: 8px;
}

.mt-1 {
  margin-top: 10px !important;
}